button,
.button {
  display: inline-block;
  background-color: $button-color;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($button-color, 10%);
    text-decoration: none;
  }
}

button.red {
  background-color: $button-color-danger;

  &:hover {
    background-color: lighten($button-color-danger, 10%);
  }
}

button.blue {
  background-color: $button-color-update;

  &:hover {
    background-color: lighten($button-color-update, 10%);
  }
}

.loading {
  position: relative;
  opacity: 1;
  cursor: default;
}

.loading span {
  opacity: 0;
}

.loading::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: var(--color);
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
