#  ----------------------------------------------  #
#                                                  #
#                    IMPORTANT!                    #
#                                                  #
#  Do not use quotes for the values in this file!  #
#  Docker includes the quotes in the actual value  #
#  ----------------------------------------------  #

# Secret used for things such as sessions. Can be generated using
# `openssl rand -hex 32` for local development.
APP_SECRET=

# GitHub credentials for Passport. Follow the guide in the README to create
# OAuth credentials.
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Stripe credentials
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
