.table-header {
    background-color: $cyan;
}

.table-content {

}

th {
  border: 1px solid $lightgrey;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}