$cyan: #00ffe1;
$darkcyan: #00aa96;

$color: $cyan;
$font-color: black;
$nav-color: black;
$nav-underline: $cyan;
$font-family: 'Lato', sans-serif;

$underline-normal: rgba(0, 255, 255, 0);
$underline-hover: rgba(0, 255, 255, 1);
