# The port that the application should run on. Defaults to 4000 if not set.
PORT=4000

# Secret used for things such as sessions. Can be generated using
# `openssl rand -hex 32` for local development.
APP_SECRET=""

# The URL on which the API is accessible. Used for eg. callbacks from OAuth
# providers such as GitHub.
API_URL="http://localhost:4000"

# The URL on which the frontend is accessible. Used for eg. redirecting to the
# login screen after OAuth authentication.
FRONTEND_URL="http://localhost:3000"


# The URL at which the database runs at. If the default database specified
# inside docker-compose.yml is used, this is the correct URL.
DATABASE_URL="mysql://root:changeme@localhost:3306/pattern"

# If set will use redis for sessions instead of the default in-memory store.
# This is useful for development where sessions are otherwise lost when the
# server is restarted.
REDIS_URL="redis://localhost:6379"

# GitHub credentials for Passport. Follow the guide in the README to create
# OAuth credentials.
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
